<!-- Topbar -->
<div class="topbar">

    <span class="user">Username: <%= sess.obj.username %></span>
    <a href="/logout">
        <button class="btn-logout"><span><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</span></button>
    </a>
</div>
<!-- Topbar -->